@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-bg text-brand-text font-body antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }

  * {
    @apply border-brand-border;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }
  ::-webkit-scrollbar-track {
    background: #111111;
  }
  ::-webkit-scrollbar-thumb {
    background: #2A2A2A;
    @apply rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #C9A84C;
  }
}
